<form action="/questions/<%= @question_edit.id %>" method="post">
  <div class="title_head">
    <input type="text" class="title" name="title" placeholder="タイトル">
  </div>
  <select name="course">
    <% Course.all.each do | course | %>
    <option value="<%= course.id %>"><%= course.name %></option>
    <% end %>
  </select>
  <div class="main">
    <div id="editor">
      <textarea class="lined" name="content">おはよう</textarea>
      <input type="submit">
    </div>
  </div>
</form>