<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
 <form class="col-lg-5" action="/signup" method= "post">
  <div class="sign_form">
    <input name="name" placeholder="名前を入力"><br>
    <input name="password" type="password" placeholder="パスワードを入力"><br>
    <input name="password_confirmation" type="password" placeholder="パスワードをもう一度"><br>
    <input name="email" placeholder="emailを入力"><br>
    <input name="simple_word" placeholder="一言コメント"><br>
    <input name="color" placeholder="colorコードを入力"><br>
    <input name="place" placeholder="スクール校"><br>
  </div>
   <input type="submit" value="登録">
 </form>
</body>
</html>